name: finale
description: A fully-featured Last.fm client
publish_to: 'none'
version: 3.2.0+37

environment:
  sdk: ">=2.18.0 <3.0.0"
  flutter: ">=3.3.4 <4.0.0"

dependencies:
  auto_size_text: ^3.0.0
  cached_network_image: ^3.2.2
  charts_flutter: ^0.12.0
  collection: ^1.16.0
  crypto: ^3.0.2
  datetime_picker_formfield: ^2.0.1
  flutter:
    sdk: flutter
  flutter_acrcloud: ^0.1.6
  flutter_cache_manager: ^3.3.0
  flutter_local_notifications: ^12.0.2
  flutter_mpmediaplayer: ^0.1.2
  flutter_web_auth: ^0.4.1
  gallery_saver: ^2.3.2
  html: ^0.15.0
  http: ^0.13.5
  in_app_review: ^2.0.4
  intl: ^0.17.0
  json_annotation: ^4.7.0
  modal_bottom_sheet: ^2.1.2
  package_info_plus: ^2.0.0
  path_provider: ^2.0.11
  pkce: ^1.1.0+1
  pool: ^1.5.1
  quick_actions: ^1.0.1
  rxdart: ^0.27.5
  screenshot: ^1.2.3
  share_plus: ^5.0.0
  shared_preferences: ^2.0.15
  sqflite: ^2.1.0+1
  uni_links: ^0.5.1
  universal_html: ^2.0.8
  universal_io: ^2.0.4
  url_launcher: ^6.1.6
  visibility_detector: ^0.3.3
  wakelock: ^0.6.2
  workmanager: ^0.5.0

dev_dependencies:
  build_runner: ^2.3.0
  flutter_launcher_icons:
    git: https://github.com/fluttercommunity/flutter_launcher_icons
  flutter_lints: ^2.0.1
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter
  json_serializable: ^6.5.1

flutter:
  uses-material-design: true
  assets:
    - assets/images/
  fonts:
    - family: SocialMediaIcons
      fonts:
      - asset: assets/fonts/SocialMediaIcons.ttf

flutter_icons:
  image_path: 'assets/images/icon.png'
  android: true
  ios: true
  macos:
    generate: true
    image_path: 'assets/images/icon_rounded.png'
  web:
    generate: true
    background_color: "#f44336"
    theme_color: "#f44336"
  adaptive_icon_background: "#ff0000"
  adaptive_icon_foreground: 'assets/images/music_note.png'
