name: finale
description: A fully-featured Last.fm client
publish_to: 'none'
version: 4.0.0+47

environment:
  sdk: ">=3.9.0 <4.0.0"
  flutter: ">=3.35.0 <4.0.0"

dependencies:
  app_links: ^6.4.1
  auto_size_text: ^3.0.0
  cached_network_image: ^3.4.1
  collection: ^1.19.1
  cookie_jar: ^4.0.8
  crypto: ^3.0.6
  fl_chart: ^1.0.0
  flutter:
    sdk: flutter
  flutter_acrcloud: ^0.2.2
  flutter_cache_manager: ^3.4.1
  flutter_local_notifications: ^19.4.0
  flutter_mpmediaplayer: ^0.3.0
  flutter_web_auth_2: ^4.1.0
  gal: ^2.3.2
  html: ^0.15.6
  http: ^1.5.0
  in_app_review: ^2.0.10
  intl: ^0.20.2
  json_annotation: ^4.9.0
  modal_bottom_sheet: ^3.0.0
  octo_image: ^2.1.0
  package_info_plus: ^8.3.1
  path_provider: ^2.1.5
  pkce: ^1.1.0+1
  pool: ^1.5.1
  quick_actions: ^1.1.0
  rxdart: ^0.28.0
  share_plus: ^11.1.0
  shared_preferences: ^2.5.3
  sqflite: ^2.4.2
  universal_html: ^2.2.4
  universal_io: ^2.2.2
  url_launcher: ^6.3.2
  visibility_detector: ^0.4.0+2
  wakelock_plus: ^1.3.2
  webview_cookie_manager_plus: ^2.0.16
  webview_flutter: ^4.13.0
  workmanager: ^0.9.0+2

dev_dependencies:
  build_runner: ^2.7.0
  flutter_lints: ^6.0.0
  flutter_test:
    sdk: flutter
  icons_launcher: ^3.0.1
  integration_test:
    sdk: flutter
  json_serializable: ^6.10.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/
  fonts:
    - family: SocialMediaIcons
      fonts:
      - asset: assets/fonts/SocialMediaIcons.ttf

# $ dart run icons_launcher:create
icons_launcher:
  image_path: 'assets/images/icon.png'
  platforms:
    android:
      enable: true
      adaptive_background_color: "#ff0000"
      adaptive_foreground_image: 'android/icon_foreground.png'
    ios:
      enable: true
    macos:
      enable: true
      image_path: 'assets/images/icon_rounded.png'
    web:
      enable: true
