name: finale
description: A fully-featured Last.fm client
publish_to: 'none'
version: 3.5.0+45

environment:
  sdk: ">=3.4.0 <4.0.0"
  flutter: ">=3.22.0 <4.0.0"

dependencies:
  app_links: ^6.3.2
  auto_size_text: ^3.0.0
  cached_network_image: ^3.3.1
  collection: ^1.18.0
  crypto: ^3.0.3
  datetime_picker_formfield: ^2.0.1
  fl_chart: ^0.68.0
  flutter:
    sdk: flutter
  flutter_acrcloud: ^0.2.1
  flutter_cache_manager: ^3.3.2
  flutter_local_notifications: ^17.1.2
  flutter_mpmediaplayer: ^0.3.0
  flutter_web_auth: ^0.5.0
  gal: ^2.3.0
  html: ^0.15.4
  http: ^1.2.1
  in_app_review: ^2.0.10
  intl: ^0.19.0
  json_annotation: ^4.9.0
  modal_bottom_sheet: ^3.0.0
  octo_image: ^2.0.0
  package_info_plus: ^8.0.0
  pkce: ^1.1.0+1
  pool: ^1.5.1
  quick_actions: ^1.0.7
  rxdart: ^0.27.7
  share_plus: ^9.0.0
  shared_preferences: ^2.2.3
  sqflite: ^2.3.3+1
  universal_html: ^2.2.4
  universal_io: ^2.2.2
  url_launcher: ^6.3.1
  visibility_detector: ^0.4.0+2
  wakelock_plus: ^1.2.5
  workmanager: ^0.5.2

dev_dependencies:
  build_runner: ^2.4.9
  flutter_lints: ^4.0.0
  flutter_test:
    sdk: flutter
  icons_launcher: ^2.1.7
  integration_test:
    sdk: flutter
  json_serializable: ^6.8.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/
  fonts:
    - family: SocialMediaIcons
      fonts:
      - asset: assets/fonts/SocialMediaIcons.ttf

icons_launcher:
  image_path: 'assets/images/icon.png'
  platforms:
    android:
      enable: true
      adaptive_background_color: "#ff0000"
      adaptive_foreground_image: 'assets/images/music_note.png'
    ios:
      enable: true
    macos:
      enable: true
      image_path: 'assets/images/icon_rounded.png'
    web:
      enable: true
